<h2>{{ section.settings.text }}</h2>

{% schema %}
  {
    "name": "Section name",
    "settings": [
		{
		  "type": "text",
		  "id": "text",
		  "label": "Text"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
